<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mrapp1apifunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/45087116-6cf9-45bb-977d-f6893860f49c/resourceGroups/MRApp1API_RG/providers/Microsoft.Web/sites/MRApp1APIFunctions</ResourceId>
    <UserName>$MRApp1APIFunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mrapp1apifunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>